.footer {
  background: #000000ff;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.8rem;
  font-weight: 500;
  transition: opacity 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  opacity: 0.8;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 1rem;
  font-size: 0.9rem;
}

/* Responsivo */
@media (min-width: 769px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}